@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .header{
    @apply flex flex-row items-center justify-between py-4 px-8 bg-white fixed top-0 right-0 left-0 z-50
  }
}



.home-bg{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Text color for contrast */
  overflow: hidden;
  z-index: -1;
  background: linear-gradient(
    rgba(0, 0, 0, 0.8), /* Black gradient with opacity */
    rgba(0, 0, 0, 0.8)
  ), url("/bg.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.plane-bg{
  background: linear-gradient(
    rgba(0, 0, 0, 0.6), /* Black gradient with opacity */
    rgba(0, 0, 0, 0.6)
  ), url("/plane.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.post-bg{
  background: linear-gradient(
    rgba(0, 0, 0, 0.4), /* Black gradient with opacity */
    rgba(0, 0, 0, 0.4)
  ), url("/blogging.webp");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.profile-bg{
  background: linear-gradient(
    rgba(0, 0, 0, 0.4), /* Black gradient with opacity */
    rgba(0, 0, 0, 0.4)
  ), url("/profile-bg.webp");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.edit-bg{
  background: linear-gradient(
    rgba(0, 0, 0, 0.4), /* Black gradient with opacity */
    rgba(0, 0, 0, 0.4)
  ), url("/edit.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

#section-bg{
  background: linear-gradient(
    rgba(0, 0, 0, 0.6), /* Black gradient with opacity */
    rgba(0, 0, 0, 0.6)
  ), url("/home-bg.jpeg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}
