@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .header{
    @apply flex flex-row items-center justify-between py-4 px-8 bg-white fixed top-0 right-0 left-0
  }
}



.home-bg{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Text color for contrast */
  overflow: hidden;
  z-index: -1
}

.home-bg::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.8), /* Black gradient with opacity */
    rgba(0, 0, 0, 0.8)
  ), url("/bg.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100vh;
 
  z-index: -1; /* Place behind the content */
}
